# Postgres (Dagster metadata)
DAGSTER_POSTGRES_USER=dagster
DAGSTER_POSTGRES_PASSWORD=your_postgres_password
DAGSTER_POSTGRES_DB=dagster_metadata

# Leaguepedia (MediaWiki API)
LEAGUEPEDIA_USERNAME=your_username
LEAGUEPEDIA_PASSWORD=your_password

# AWS S3
S3_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=eu-north-1

# Riot Games API
RIOT_API_KEY=your_riot_api_key

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA_NAME=SILVER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# Apache Superset
SUPERSET_SECRET_KEY=your_superset_secret_key_change_me
SUPERSET_POSTGRES_USER=superset
SUPERSET_POSTGRES_PASSWORD=your_superset_postgres_password
SUPERSET_POSTGRES_DB=superset_metadata
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=your_superset_admin_password
SUPERSET_ADMIN_EMAIL=admin@example.com
